.container{
    display: grid;
    grid-template-rows: 10;
    grid-template-columns: 10;
    position: relative;
}

.row{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

    &:last-child span {
        left: -7%;
    }
    
}
ul{
    color: white;
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.letters{
    position: absolute;
    top:-11%;
    width: 100%;
    user-select: none;

    ul{
        flex-direction: row;
        justify-content: space-around;
    }
}
.number {
    user-select: none;
    position: absolute;
    display: flex;
    text-align: center;
    left:-6%;
    top: 30%;
    color: white;
    font-size: 1.2em;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 10%;
    border: 1px solid rgba($color: white, $alpha: 0.3);
    background-color: black;
    min-height: 31px;
    min-width: 31px;
}
.ship{
    background-color: green;
}
.wounded{
    background-color: red;
}
.missed{
    background-image: url("../../assets/missed.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}
.sunk{
    background-color: darkslategrey !important;
}