<div class="wrapper">
    <h1>{{title}}</h1>
    <app-ships  (vertical)="onRotate($event)" *ngIf="this.GameController.turn === 0"></app-ships>
    <span *ngIf="GameController.gameOver">Game Over!<br>{{GameController.winner}} wins!</span>
    <span class="battle" *ngIf="GameController.turn === 1 || GameController.turn === 2">It's time to battle !</span>
    <div class="boards">
        <app-gameboard [ngClass]="{highlight: this.GameController.turn === 0}"  [vertical]="this.vertical" [player]="this.GameController.player"></app-gameboard>
        <app-gameboard [ngClass]="{highlight: this.GameController.turn === 1}" [player]="this.GameController.comp"></app-gameboard>
    </div>
    <button (click)="onReset()" *ngIf="this.GameController.gameOver === true" class="new-game">New Game</button>
</div>
