.wrapper{
    margin-top: 0.5%;
    margin-bottom: 1%;
    min-height: 34.5vh;
   
}
.ships{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4px;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    min-height: 31px;
    min-width: 40px;
}
.start{
    user-select: none;
    color: white;
    padding: 0.5% 3%;
    background-color: blue;
    border: none;
    font-size: 1.2em;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 1%;
    transition: background .3s ease-in-out;

    &:hover{
        background-color: darkblue;
    }
}
.start[disabled] {
    background-color: darkgrey;
}
#dice{
    font-size: 1.5em;
    color: white;
    margin-top: 0.7%;
    margin-bottom: 1%;
    margin-left: 5%;
}
#rotate{
    font-size: 1.5em;
    color: white;
    margin-top: 0.7%;
    margin-bottom: 1%;
}
.ship{
    background-color:green;
}
.carrier, .cruisers, .submarines, .destroyers{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    i{
        position: absolute;
        color: white;
        left: 0;
        bottom: 0;
        font-size: 1em;
    }
}
.ship-obj{
    display: flex;
    flex-direction: row;
    position: relative;
}
.selected{
    background-color: darkgreen;
}
.ships{
    display: flex;
}
.cruisers .ship-obj,.submarines .ship-obj, .destroyers .ship-obj {
    margin-bottom: 3%;
}

.sub-ships{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 90%;
    justify-content: space-around;
}
h3{
    color: blue;
    margin: 0;
}
.wrapper{
    text-align: center;
}
.vertical {
    .carrier, .cruisers, .submarines{
        flex-direction: row;
        height: 100%;;
        justify-content: center;
        align-items: center;
        i{
            position: absolute;
            color: white;
            left: 0;
            top: 0;
            font-size: 1em;
        }
    }
    .ship-obj{
        flex-direction: column;
        margin: 0 auto;
    }
    .sub-ships{
        justify-content: space-around;
        width: 65%;
    }
    .destroyers{
        height: 100%;
        .ship-obj{
            margin-right: 3%;
        }
        justify-content: space-around;
        i{
            position: absolute;
            color: white;
            left: 0;
            top: 0;
            font-size: 1em;
        }
    }
}