<div class="wrapper" [ngClass]="{vertical: this._vertical}">
  <h3>Place your ships on the board, Captain!</h3>
  <i (click)="onRotate()" id="rotate" class="fas fa-undo"></i>
  <div class="ships">
    <div class="carrier">
      <div
        class="ship-obj"
        (click)="onClick($event)"
        [attr.data-length]="4"
        draggable="true"
        (mousedown)="onMouseDown($event)"
        (dragend)="onDragEnd($event)"
        (dragstart)="onDrag($event)"
      >
        <i class="fas fa-arrows-alt"></i>
        <app-board-cell class="cell ship"></app-board-cell>
        <app-board-cell class="cell ship"></app-board-cell>
        <app-board-cell class="cell ship"></app-board-cell>
        <app-board-cell class="cell ship"></app-board-cell>
      </div>
    </div>
    <div class="cruisers">
      <div
        class="ship-obj"
        (click)="onClick($event)"
        [attr.data-length]="3"
        draggable="true"
        (mousedown)="onMouseDown($event)"
        (dragend)="onDragEnd($event)"
        (dragstart)="onDrag($event)"
      >
      <i class="fas fa-arrows-alt"></i>
        <app-board-cell class="cell ship"></app-board-cell>
        <app-board-cell class="cell ship"></app-board-cell>
        <app-board-cell class="cell ship"></app-board-cell>
      </div>
      <div
        class="ship-obj"
        (click)="onClick($event)"
        [attr.data-length]="3"
        draggable="true"
        (mousedown)="onMouseDown($event)"
        (dragend)="onDragEnd($event)"
        (dragstart)="onDrag($event)"
      >
      <i class="fas fa-arrows-alt"></i>
        <app-board-cell class="cell ship"></app-board-cell>
        <app-board-cell class="cell ship"></app-board-cell>
        <app-board-cell class="cell ship"></app-board-cell>
      </div>
    </div>
    <div class="submarines">
      <div
        class="ship-obj"
        (click)="onClick($event)"
        [attr.data-length]="2"
        draggable="true"
        (mousedown)="onMouseDown($event)"
        (dragend)="onDragEnd($event)"
        (dragstart)="onDrag($event)"
      >
      <i class="fas fa-arrows-alt"></i>
        <app-board-cell class="cell ship"></app-board-cell>
        <app-board-cell class="cell ship"></app-board-cell>
      </div>
      <div class="sub-ships">
        <div
          class="ship-obj"
          (click)="onClick($event)"
          [attr.data-length]="2"
          draggable="true"
          (mousedown)="onMouseDown($event)"
          (dragend)="onDragEnd($event)"
          (dragstart)="onDrag($event)"
        >
        <i class="fas fa-arrows-alt"></i>
          <app-board-cell class="cell ship"></app-board-cell>
          <app-board-cell class="cell ship"></app-board-cell>
        </div>
        <div
          class="ship-obj"
          (click)="onClick($event)"
          [attr.data-length]="2"
          draggable="true"
          (mousedown)="onMouseDown($event)"
          (dragend)="onDragEnd($event)"
          (dragstart)="onDrag($event)"
        >
        <i class="fas fa-arrows-alt"></i>
          <app-board-cell class="cell ship"></app-board-cell>
          <app-board-cell class="cell ship"></app-board-cell>
        </div>
      </div>
    </div>
    <div class="destroyers">
      <div class="sub-ships">
        <div
          class="ship-obj"
          (click)="onClick($event)"
          [attr.data-length]="1"
          draggable="true"
          (mousedown)="onMouseDown($event)"
          (dragend)="onDragEnd($event)"
          (dragstart)="onDrag($event)"
        >
        <i class="fas fa-arrows-alt"></i>
          <app-board-cell class="cell ship"></app-board-cell>
        </div>
        <div
          class="ship-obj"
          (click)="onClick($event)"
          [attr.data-length]="1"
          draggable="true"
          (mousedown)="onMouseDown($event)"
          (dragend)="onDragEnd($event)"
          (dragstart)="onDrag($event)"
        >
        <i class="fas fa-arrows-alt"></i>
          <app-board-cell class="cell ship"></app-board-cell>
        </div>
        <div
          class="ship-obj"
          (click)="onClick($event)"
          [attr.data-length]="1"
          draggable="true"
          (mousedown)="onMouseDown($event)"
          (dragend)="onDragEnd($event)"
          (dragstart)="onDrag($event)"
        >
        <i class="fas fa-arrows-alt"></i>
          <app-board-cell class="cell ship"></app-board-cell>
        </div>
        <div
          class="ship-obj"
          (click)="onClick($event)"
          [attr.data-length]="1"
          draggable="true"
          (mousedown)="onMouseDown($event)"
          (dragend)="onDragEnd($event)"
          (dragstart)="onDrag($event)"
        >
        <i class="fas fa-arrows-alt"></i>
          <app-board-cell class="cell ship"></app-board-cell>
        </div>
      </div>
    </div>
  </div>
</div>
