.wrapper{
    margin-top: 0.5%;
    margin-bottom: 1%;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    min-height: 35px;
    min-width: 42px;
}
#rotate{
    font-size: 1.5em;
    color: white;
    margin-top: 0.7%;
    margin-bottom: 1%;
}
.ship{
    background-color: green;
}
.carrier, .cruisers, .submarines, .destroyers{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    i{
        position: absolute;
        color: white;
        left: 0;
        bottom: 0;
        font-size: 1em;
    }
}
.ship-obj{
    display: flex;
    flex-direction: row;
    position: relative;
}
.selected{
    background-color: darkgreen;
}
.ships{
    display: flex;
}
.cruisers .ship-obj,.submarines .ship-obj, .destroyers .ship-obj {
    margin-bottom: 3%;
}

.sub-ships{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 90%;
    justify-content: space-around;
}
h3{
    color: darkblue;
    margin: 0;
}
.wrapper{
    text-align: center;
}
.vertical {
    .carrier, .cruisers, .submarines{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        i{
            position: absolute;
            color: white;
            left: 0;
            top: 0;
            font-size: 1em;
        }
    }
    .ship-obj{
        flex-direction: column;
        margin: 0 auto;
    }
    .sub-ships{
        justify-content: space-between;
        width: 65%;
    }
    .destroyers{
        .ship-obj{
            margin-right: 3%;
        }
        justify-content: space-around;
        i{
            position: absolute;
            color: white;
            left: 0;
            top: 0;
            font-size: 1em;
        }
    }
}